doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='Corlate Web App')
        meta(name='author', content='Oleksandr Popov <oleksandr.popov@netcracker.com>')
        title= title
        link(href='/css/bootstrap.min.css', rel='stylesheet')
        link(href='/css/font-awesome.min.css', rel='stylesheet')
        link(href='/css/animate.min.css', rel='stylesheet')
        link(href='/css/prettyPhoto.css', rel='stylesheet')
        link(href='/css/main.css', rel='stylesheet')
        link(href='/css/responsive.css', rel='stylesheet')
        <!--[if lt IE 9]>
        <script type="text/javascript" src="/js/html5shiv.js"></script>
        <script type="text/javascript" src="/js/respond.min.js"></script>
        <![endif]-->
        link(rel='shortcut icon', href='images/ico/favicon.ico')
        script(type='text/javascript' src='/js/jquery.js')
        script(type='text/javascript' src='/js/bootstrap.min.js')
        script(type='text/javascript' src='/js/jquery.prettyPhoto.js')
        script(type='text/javascript' src='/js/jquery.isotope.min.js')
        script(type='text/javascript' src='/js/main.js')
        script(type='text/javascript' src='/js/wow.min.js')
    body
        block content
